---
title: Project
---

<section id="project-brief">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>Résumé</h2>

        <p><%= project.description %></p>
      </div>
    </div>

  </div>
</section>


<section id="project-media">
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <img src="http://placehold.it/900x400" alt="">
      </div>

      <div class="col-md-2">
        <h3>Lorem ipsum</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, unde, quidem, rem, quo hic error magnam nostrum eaque voluptatum!</p>
      </div>
    </div>

  </div>
</section>


<section id="project-making-of">
  <div class="container">

    <h4>Making of</h4>

    <div class="row">
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
    </div>

  </div>
</section>
