@charset "utf-8";

$yellow: #FFF200;

#header {
  background-color: $yellow;
}

#navigation {

}

#axioms {

}

#projects {

}


// Footer
// -------------------------------------------

#footer {
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 4;
  background-color: gray;
  text-align: center;
}
