@charset "utf-8";

@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,900");
@import "variables";
@import "bootstrap/theme";

@mixin body-text() {
  font-family: $font-family-serif;
  font-size: $font-size-large - 2px;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}


// Header
// -------------------------------------------

#header {}

.navbar-transparent {
  background: none;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.6);

  .navbar-brand {
    min-height: 35px;
    min-width: 200px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat center;

    @media (max-width: $screen-md-max) {
      margin-left: $grid-gutter-width / 2;
    }
  }

  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 20px;
    text-shadow: none;
    color: #FFFFFF;
    outline: 0;
    @include body-text;

    &:hover, &:focus {
      color: $brand-primary;
      background-color: #000000;
    }
  }

  .navbar-nav > li.navbar-social {
    a {
      padding-left: 5px;
      padding-right: 5px;

      &:hover, &:focus {
        background-color: inherit;
      }
    }
  }
}

.navbar-light {
  background: #FFFFFF;

  .navbar-brand {
    background: url(../images/logo-light.png) no-repeat center;
  }

  .navbar-nav > li > a {
    color: $text-color;
    &:hover, &:focus {
      color: #000000;
      background-color: $brand-primary;
    }
  }
}


// Masthead
// -------------------------------------------

#masthead {
  padding-top: $grid-gutter-width * 10;
  padding-bottom: $grid-gutter-width * 8;
  background: #111111 url(../images/masthead.jpg) no-repeat;
  background-size: 1920px 960px; // Fix for retina

  @media (max-width: $screen-lg + 400px) {
    padding-top: $grid-gutter-width * 8;
    padding-bottom: $grid-gutter-width * 8;
  }

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 4;
    padding-bottom: $grid-gutter-width * 2;
  }
}

.masthead-copy {
  font-size: 52px;
  color: #FFFFFF;

  @media (max-width: $screen-sm-max) {
    font-size: 32px;
  }
}

.masthead-play {
  margin-top: $grid-gutter-width * 2;
  color: $brand-primary;
  font-size: $font-size-h1 * 2;
  text-align: center;

  a {
    outline: 0;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.modal-dialog {
  width: 50%;
  padding-top: $grid-gutter-width * 2;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 4;
    width: 90%;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
  @include box-shadow(none);
}

.modal-header {
  border-bottom: none;
}

.close {
  outline: 0;
  opacity: 0.8;
  color: $brand-primary;
  font-size: $font-size-h2;

  &:hover {
    color: $brand-primary;
  }
}


// Axioms
// -------------------------------------------

#company, #compagnie {
  padding-top: $grid-gutter-width * 4;
  padding-bottom: $grid-gutter-width * 4;
  background-color: $brand-primary;

  @media (max-width: $screen-lg + 400px) {
    padding-top: $grid-gutter-width * 3;
    padding-bottom: $grid-gutter-width * 3;
  }

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 1;
    padding-bottom: $grid-gutter-width * 1;
  }
}

.axiom {
  padding-top: $grid-gutter-width * 2;
  background: no-repeat top center;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width * 2;
    background-size: 100px 100px;
  }
}
.axiom-title {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-large;
  }
}
.axiom-description {
  @include body-text;
  font-size: $font-size-large;
}

#axiom-product { background-image: url(../images/axiom-product.png); }
#axiom-corporate { background-image: url(../images/axiom-corporate.png); }
#axiom-action { background-image: url(../images/axiom-action.png); }


// Projects
// -------------------------------------------

#projects, #projets {
  padding-top: $grid-gutter-width * 4;
  padding-bottom: $grid-gutter-width * 4;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 1;
    padding-bottom: $grid-gutter-width * 1;
  }
}

.project {
  min-height: 205px;
  margin-bottom: $grid-gutter-width;

  .thumbnail {
    padding: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    transition: none;

    .label {
      position: absolute;
      top: -10px;
      right: 5px;
      padding: 1.2em 1.6em 1.3em;
      background-color: $text-color;
      border-radius: 0;
      text-transform: uppercase;
    }
    .caption {
      position: absolute;
      top: 0;
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width * 3;
      opacity: 0;
      @include body-text;
    }

    &:hover {
      background-color: $brand-primary;
      img {
        opacity: 0;
      }
      .caption {
        opacity: 1;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    min-height: 0;
  }
}

.quote {
  margin-bottom: $grid-gutter-width;

  blockquote {
    height: 200px;
    margin: 0;
    padding: $grid-gutter-width;
    background-color: #DCDCDC;
    border-left: 0;

    p {
      text-align: center;
      text-transform: uppercase;
    }
    small {
      @include body-text;
      font-size: $font-size-small;
      text-align: right;
    }
  }
}


#project-head, #director-head {
  padding-top: $grid-gutter-width * 8;
  padding-bottom: $grid-gutter-width * 8;
  background: url(../images/masthead.jpg) no-repeat;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 5;
    padding-bottom: $grid-gutter-width * 4;
  }
}

.project-head-copy, .director-head-copy {
  font-size: $font-size-h1 * 2;
  color: #FFFFFF;
}

#project-brief, #director-brief {
  padding-top: $grid-gutter-width * 4;
  padding-bottom: $grid-gutter-width * 4;
  background-color: $brand-primary;

  @media (max-width: $screen-lg + 400px) {
    padding-top: $grid-gutter-width * 3;
    padding-bottom: $grid-gutter-width * 3;
  }

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $grid-gutter-width * 2;
  }

  p {
    @include body-text;
    font-size: $font-size-h3;

    @media (max-width: $screen-sm-max) {
      font-size: $font-size-h4;
    }
  }
}

#project-media, #director-media {
  padding-top: $grid-gutter-width * 4;
  padding-bottom: $grid-gutter-width * 4;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 2;
  }
}

#project-making-of {
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 4;
}


// Directors
// -------------------------------------------

#directors, #realisateurs {
  padding-top: $grid-gutter-width * 4;
  padding-bottom: $grid-gutter-width * 4;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 1;
    padding-bottom: $grid-gutter-width * 1;
  }
}

.director {
  min-height: 310px;
  margin-bottom: $grid-gutter-width;

  &:first-child {
    min-height: 0;
  }

  .thumbnail {
    padding: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    transition: none;
  }
}

#director-brief {
  .director-profile-image {
    margin-top: $line-height-computed;
  }
}

#director-media {
  article {
    margin-bottom: $line-height-computed;
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;
    border-bottom: 1px solid #eee;

    &:last-child { border-bottom: none; }

    .media { margin-bottom: $line-height-computed; }
  }
}



// Contact
// -------------------------------------------

#contact {
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 2;
  background-color: #eee;

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 1;
    padding-bottom: $grid-gutter-width * 1;
    text-align: center;
  }
}

#contact-social, .contact-info {
  margin-top: $line-height-computed;
}

#contact-social {
  text-align: right;

  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.contact-info a {
  color: $text-color;
}

.contact-icon > a {
  font-size: $font-size-h2;
  color: $text-color;
  &:hover, &:focus {
    color: lighten($text-color, 35%);
    text-decoration: none;
  }
}


// Pagination
// -------------------------------------------

.pager {
  li > a {
    @include body-text;
    color: $text-color;
    font-size: $font-size-base;
    border: none;

    &:hover, &:focus {
      text-decoration: underline;
      background: transparent;
    }
  }
}


// Footer
// -------------------------------------------

#footer {
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 6;
  background: #DCDCDC url(../images/bg-footer.png) no-repeat bottom;
  text-align: center;

  p {
    @include body-text;
  }

  @media (max-width: $screen-sm-max) {
    padding-top: $grid-gutter-width * 1;
    padding-bottom: $grid-gutter-width * 1;
  }
}
