<section id="contact">
  <div class="container">

    <div class="row">
      <div class="col-md-2">
        <h2>Contact</h2>
      </div>

      <div class="col-md-2">
        <ul class="list-unstyled" id="contact-infos">
          <li class="contact-info"><a href="">info@laraffinerie.co</a></li>
          <li class="contact-info">418-265-7865</li>
        </ul>
      </div>

      <div class="col-md-3 col-md-offset-5">
        <ul class="list-inline" id="contact-social">
          <li class="contact-icon">
            <a href="https://www.facebook.com/pages/La-Raffinerie/432454826833215">
              <i class="ss-icon">facebook</i>
            </a>
          </li>
          <li class="contact-icon">
            <a href="http://vimeo.com/laraffinerieco">
              <i class="ss-icon">vimeo</i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
