<section id="<%= t('header.navigation.contact_fragment') %>">
  <div class="container">

    <div class="row">
      <div class="col-md-2">
        <h2>Contact</h2>
      </div>

      <div class="col-md-2 contact-info">
        <ul class="list-unstyled">
          <li><a href="mailto:info@laraffinerie.co">info@laraffinerie.co</a></li>
          <li>418-563-5509</li>
        </ul>
      </div>

      <div class="col-md-2 contact-info">
        <p>1273, Avenue Maguire,<br>Québec, Canada G1T 1Z2</p>
      </div>

      <div class="col-md-3 col-md-offset-3">
        <ul class="list-inline" id="contact-social">
          <li class="contact-icon">
            <a href="https://www.facebook.com/pages/La-Raffinerie/432454826833215">
              <i class="ss-icon">facebook</i>
            </a>
          </li>
          <li class="contact-icon">
            <a href="http://vimeo.com/laraffinerieco">
              <i class="ss-icon">vimeo</i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
