<footer id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h5>&copy; <%= Date.today.year %> <%= t('footer.company') %></h5>
        <p><%= t('footer.all_rights_reserved') %></p>
      </div>
    </div>

  </div>
</footer>
