<section class="js-trigger-navigation" id="masthead">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="masthead-copy"><%= t('masthead.copy') %></h1>

        <p class="masthead-play">
            <%# t('header.navigation.reel') %>
            <i class="ss-icon">&#x25B6;</i>
          <% end %>
        </p>
      </div>
    </div>

  </div>
</section>
