<section class="js-trigger-navigation" id="masthead">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="masthead-copy"><%= t('masthead.copy') %></h1>

        <p class="masthead-play">
          <% link_to '#', :'data-toggle' => 'modal', :'data-target' => '#reel' do %>
            <i class="ss-icon">&#x25B6;</i>
          <% end %>
        </p>
      </div>
    </div>

    <div class="modal fade" id="reel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <div class="fitvids">
              <iframe src="//player.vimeo.com/video/113331588?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>
</section>
