<section id="projects">
  <div class="container">

    <div class="row">
      <% data.projects.each do |name, attributes| %>
        <%= name %>
        <%= attributes %>
      <% end %>

      <div class="col-md-4 project">
        <h3>Projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium neque sed repellendus minima eveniet sapiente quasi! Amet, earum, in, doloribus porro.</p>
      </div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project"></div>
      <div class="col-md-4 project"></div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>
      <div class="col-md-4 project"></div>
      <div class="col-md-4 project">
        <a href="">
          <img src="http://placehold.it/360x200" alt="">
        </a>
      </div>

    </div>

  </div>
</section>
