<footer id="footer">
  <div class="row">
    <div class="col-md-3">
      <h2>Contact</h2>
    </div>

    <div class="col-md-3 col-offset-6">
      <p>[] [] []</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5><%= Date.today %> La Raffinerie</h5>
    </div>
  </div>
</footer>
